  <!--<div class="jumbotron">
	<div class="container">
		<p>I am a pharmacist. I have a business degree. And, I love computers. I am passionate about using data and technology to solve health care’s problems. The common thread throughout my career is that I have taken on complex problems, developed creative solutions utilizing data and technology, and learned and expanded my skillset along the way.
I have worked in pharmacies, health plans, a PBM, a health system, and now a measure developer. Along the way, I have had a broad exposure in clinical guidelines, formulary, pharmacy operations and workflow, clinical programs, pharmacy data, performance measurement, and Medicare Part D.
Something that makes me really stand out is that I am self taught in several different programming languages and proficient in SQL, SAS, python, and javascript.
<p>
	</div>
  </div>-->
  <home-page></home-page>
