  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="headingOne">
		<h3 class="panel-title">
		  <a data-toggle="collapse" data-target="#collapseOne" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Options</a>
		</h3>
	  </div>
	  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
		  <div class="col-xs-6">
			<table>
			  <tbody>
				<tr>
				  <td>Measure:</td>
				  <td>
					<p class="input-group"></p>
					<div ng-dropdown-multiselect="" selected-model="measures.model" options="measures.options" extra-settings="measures.settings" events="measures.events"></div>
					<p></p>
				  </td>
				</tr>
				<tr>
				  <td>From:</td>
				  <td>
					<div my-datepicker="fromDt" my-event="claimChanged()"></div>
				  </td>
				</tr>
				<tr>
				  <td>Thru:</td>
				  <td>
					<div my-datepicker="thruDt" my-event="claimChanged()"></div>
				  </td>
				</tr>
				<tr>
				  <td>Continuous Enrollment:</td>
				  <td>
					<div class="btn-group" ng-init="contEnroll = 1">
					  <label class="btn btn-primary" ng-model="contEnroll" btn-radio="1">Eligibility</label>
					  <label class="btn btn-primary" ng-model="contEnroll" btn-radio="0">Claims</label>
					</div>
				  </td>
				</tr>
			  </tbody>
			</table>
		  </div>
		  <div ng-if="dob.yearsFrom(thruDt) >= 18 &&
			((contEnroll && gap <= 31) || (!contEnroll && adherence.span >= 150)) && 
			adherence.uniqueDatesOfFill >= 2 && 
			adherence.daysInMeasurementPeriod[thruNbr] >= 91 && 
			(measures.model.id == 'C10AA' || !esrd) && 
			(measures.model.id != 'A10B' || !insulin)" class="col-xs-6">
			<div class="col-offset-2">
			  <div my-gauge my-value="{{adherence.pdc[thruNbr - fromNbr + 1] * 100}}"></div>
			</div>
			<div>Days in Measurement Period: {{adherence.daysInMeasurementPeriod[thruNbr]}}</div>
			<div>Days Covered: {{adherence.daysCovered[thruNbr]}}</div>
			<div>Proportion of Days Covered: {{adherence.pdc[thruNbr - fromNbr + 1] | percentage}}</div>
			<div>Adherent: <span my-new-check="adherence.thresholdExceeded[thruNbr - fromNbr + 1]"></span></div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="headingTwo">
		<h3 class="panel-title">
		  <a data-toggle="collapse" data-target="#collapseTwo" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Patient</a>
		</h3>
	  </div>
	  <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
		<div class="panel-body">
		  <div class="col-xs-6">
			<table>
			  <tbody>
				<tr>
				  <td>Date of Birth:</td>
				  <td>
					<div my-datepicker="dob" my-event="claimChanged()"></div>
				  </td>
				</tr>
				<tr ng-show="measures.model.id == 'A10B'">
				  <td>Patient on Insulin:</td>
				  <td>
					<div class="btn-group" ng-init="insulin = 0">
					  <label class="btn btn-primary" ng-model="insulin" btn-radio="1">Yes</label>
					  <label class="btn btn-primary" ng-model="insulin" btn-radio="0">No</label>
					</div>
				  </td>
				</tr>
				<tr ng-show="measures.model.id == 'A10B' || measures.model.id == 'C09'">
				  <td>Patient with End-Stage Renal Disease (ESRD):</td>
				  <td>
					<div class="btn-group" ng-init="esrd = 0">
					  <label class="btn btn-primary" ng-model="esrd" btn-radio="1">Yes</label>
					  <label class="btn btn-primary" ng-model="esrd" btn-radio="0">No</label>
					</div>
				  </td>
				</tr>
			  </tbody>
			</table>
		  </div>
		  <div class="col-xs-6">
			<div>Age: {{dob.yearsFrom(thruDt)}}</div>
		  </div>
		</div>
	  </div>
	</div>
	<div ng-show="contEnroll" class="panel panel-default">
	  <div class="panel-heading" role="tab" id="headingThree">
		<h3 class="panel-title">
		  <a data-toggle="collapse" data-target="#collapseThree" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Eligibility</a>
		</h3>
	  </div>
	  <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
		<div class="panel-body">
		  <div class="col-xs-6">
			<table>
			  <thead>
				<tr>
				  <th>Sequence</th>
				  <th>From</th>
				  <th>Thru</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="date in elig">
				  <td>
					<label class="form-control">{{date.seq}}</label>
					<p></p>
				  </td>
				  <td>
					<div my-datepicker="date.from" my-event="eligChanged()"></div>
				  </td>
				  <td>
					<div my-datepicker="date.thru" my-event="eligChanged()"></div>
				  </td>
				  <td>
					<button ng-click="removeElig(date)">Remove</button>
					<p></p>
				  </td>
				</tr>
			  </tbody>
			</table>
			<button ng-click="addElig()">Add</button>
			<button ng-click="clearElig()">Clear</button>
		  </div>
		  <div class="col-xs-6">
			<div>From: {{from | date: 'MMM d, y'}}</div>
			<div>Thru: {{thru | date: 'MMM d, y'}}</div>
			<div>Gap in Eligibility: {{gap + ' days'}}</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="headingFour">
		<h3 class="panel-title">
		  <a data-toggle="collapse" data-target="#collapseFour" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Claims</a>
		</h3>
	  </div>
	  <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
		<div class="panel-body">
		  <div class="col-xs-6">
			<table>
			  <thead>
				<tr>
				  <th>Claim #</th>
				  <th>Drug(s)</th>
				  <th>Date of Fill</th>
				  <th>Days Supply</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="claim in claims">
				  <td>
					<label class="form-control">{{claim.number}}</label>
					<p></p>
				  </td>
				  <td>
					<!--<div ng-dropdown-multiselect="" selected-model="claim.drug" options="drugs.options" group-by="category" extra-settings="drugs.settings" events="drugs.events"></div>-->
					<ui-select ng-model="claim.drug" on-select="drugSelected(claim)">
					  <ui-select-match placeholder="Select a drug...">{{$select.selected.fullName.substring(0,10).trim() + '...'}}</ui-select-match>
					  <ui-select-choices repeat="drug in drugs | multifilter: $select.search | limitTo: 20 track by drug.rxcui">
						<div ng-bind-html="drug.fullName | highlight: $select.search"></div>
					  </ui-select-choices>
					</ui-select>
					<p></p>
				  </td>
				  <td>
					<div my-datepicker="claim.dateOfFill" my-event="claimChanged()"></div>
				  </td>
				  <td>
					<input class="form-control" ng-model="claim.daysSupply" ng-change="claimChanged()" />
					<p></p>
				  </td>
				  <td>
					<button ng-click="removeClaim(claim)">Remove</button>
					<p></p>
				  </td>
				</tr>
			  </tbody>
			</table>
			<button ng-click="addClaim()">Add</button>
			<button ng-click="clearClaims()">Clear</button>
		  </div>
		  <div class="col-xs-6">
			<table class="table table-striped table-hover table-condensed">
			  <thead>
				<tr>
				  <th>Claim #</th>
				  <th>Drug(s)</th>
				  <th>Date of Fill</th>
				  <th>Days Supply</th>
				  <th>Date of First Dose</th>
				  <th>Date of Last Dose</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="claim in adherence.claims">
				  <td>{{claim.number}}</td>
				  <td>{{claim.drug.fullName}}</td>
				  <td>{{claim.dateOfFill | date: 'MMM d, y'}}</td>
				  <td>{{claim.daysSupply}}</td>
				  <td>{{claim.dateOfFillAdj | date: 'MMM d, y'}}</td>
				  <td>{{claim.dateOfLastDose | date: 'MMM d, y'}}</td>
				</tr>
			  </tbody>
			</table>
			<div>Index Date: {{adherence.indexDate | date: 'MMM d, y'}}</div>
			<div>Unique Dates of Fill: {{adherence.uniqueDatesOfFill}}</div>
			<div>Days between First and Last Fill: {{adherence.span}}</div>
		  </div>
		</div>
	  </div>
	</div>
	<div ng-if="dob.yearsFrom(thruDt) < 18" class="panel panel-danger">
	  <div class="panel-heading" role="tab" id="headingFive">
		<h3 class="panel-title">
		  <div data-toggle="collapse" data-target="#collapseFive" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Must be 18 years and older as of the last day of the measurement period.</div>
		</h3>
	  </div>
	</div>
	<div ng-if="(contEnroll && gap > 31) || (!contEnroll && adherence.span < 150)" class="panel panel-danger">
	  <div class="panel-heading" role="tab" id="headingSix">
		<h3 class="panel-title">
		  <div data-toggle="collapse" data-target="#collapseSix" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">Must be continuously enrolled during the measurement period.</div>
		</h3>
	  </div>
	</div>
	<div ng-if="adherence.uniqueDatesOfFill < 2" class="panel panel-danger">
	  <div class="panel-heading" role="tab" id="headingSix">
		<h3 class="panel-title">
		  <div data-toggle="collapse" data-target="#collapseSix" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">Must have at least two prescriptions on two unique dates of service in the measurement period.</div>
		</h3>
	  </div>
	</div>
	<div ng-if="adherence.daysInMeasurementPeriod[thruNbr] < 91" class="panel panel-danger">
	  <div class="panel-heading" role="tab" id="headingSeven">
		<h3 class="panel-title">
		  <div data-toggle="collapse" data-target="#collapseSeven" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">Index date must be at least 91 days before the end of the enrollment period.</div>
		</h3>
	  </div>
	</div>
	<div ng-if="(measures.model.id == 'A10B' || measures.model.id == 'C09') && esrd" class="panel panel-danger">
	  <div class="panel-heading" role="tab" id="headingEight">
		<h3 class="panel-title">
		  <div data-toggle="collapse" data-target="#collapseEight" data-parent="#accordion" href="#collapseEights" aria-expanded="true" aria-controls="collapseEight">Patients with end-stage renal disease (ESRD) are excluded.</div>
		</h3>
	  </div>
	</div>
	<div ng-if="measures.model.id == 'A10B' && insulin" class="panel panel-danger">
	  <div class="panel-heading" role="tab" id="headingNine">
		<h3 class="panel-title">
		  <div data-toggle="collapse" data-target="#collapseNine" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">Patients who have one or more prescriptions for insulin in the measurement period are excluded.</div>
		</h3>
	  </div>
	</div>
  </div>
	<div ng-show="adherence.claims">
	  <div class="row">
		<div class="btn-group">
		  <label class="btn btn-primary" ng-model="display" btn-radio="0">Days Covered</label>
		  <label class="btn btn-primary" ng-model="display" btn-radio="1">Overlap</label>
		  <label class="btn btn-primary" ng-model="display" btn-radio="2">PDC</label>
		</div>
	  </div>
	  <div class="row>">
		<div ng-show="display == 0" class="col-md-4 col-xs-6" style="max-height: 320px; overflow: auto;">
		  <table class="table table-condensed">
			<thead>
			  <tr>
				<th>Date</th>
				<th>Covered</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="(key, val) in adherence.drugsCovered">
				<td>{{toDate(key) | date: 'shortDate'}}</td>
				<td class="text-center">
				  <span my-check="val"></span>
				</td>
			  </tr>
			</tbody>
		  </table>
		</div>
		<div ng-show="display == 1 || display == 2" id="chart" style="height: 320px"></div>
	  </div>
	<div>
