<div class="col-md-2">
	<ui-select ng-model="selected.contractType" on-select="contractTypeChanged()">
	  <ui-select-match placeholder="Select a contract Type...">{{$select.selected.name}}</ui-select-match>
	  <ui-select-choices repeat="type in contractTypes">
		<div ng-bind-html="type.name | highlight: $select.search"></div>
	  </ui-select-choices>
	</ui-select>
</div>
<div class="col-md-10">
	<h3>Distribution of Stars</h3>
	<h5>2015 Star Ratings - Part D Summary Score</h5>
	<div my-chart="chart1"></div>
	<h3>Contracts At or Above 4-Stars</h3>
	<h5>2015 Star Ratings - Part D Summary Score</h5>
	<div my-chart="chart2"></div>
</div>