/* Styles go here */

.rotate {
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
  -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
  -ms-transform: rotate(-90.0deg);  /* IE9+ */
  -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Safari 3.1+, Chrome */
  transform: rotate(-90.0deg);  /* Standard */
  white-space: nowrap;
  height: 100px;
}

.highlighted { background: yellow }

.c3-line { stroke-width: 3px }

.panel-disabled { color: #999 }

.col-centered{
    /*height: 100px;
    width: 100px;*/
    float: none;
    margin: 0 auto;
}